* {
    margin:             0;
    padding:            0;
    box-sizing:         border-box;
  }

body {
    width:              100vw;   
    height:             100vh; 
    overflow:           scroll;
    padding:            10px;
    display:            flex;
    align-items:        center;
    justify-content:    center;
}


.test td{
  width: 100px;
  height: 100px;
  text-align: center;
  border: solid 1px #000;
}